body {
   
    text-align: center;
    background-color: black;
    color: white;
}

canvas {
    display: block;
    margin: 20px auto;
    width: 707 px;
    height: 1000px;
}

h1, p {
    font-family: 'Montserrat';
    margin: 10px 0;
}
